@import 'tailwindcss';
@tailwind utilities;

:root {
  --background: #f1f7ed;
  --foreground: #171717;
  --border: #393737;
}

@layer utilities {
  .bord {
    border-right: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232020;
    --foreground: #f1f7ed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  background: var(--highlight);
}
