@import 'tailwindcss';
@tailwind utilities;

:root {
  --foreground: #232020;
  --background: #f1f7ed;
  --border: #4a4848;
  --title_text: #f1f7ed;
  --title: #393737;
  --buttons: #a3a0a0;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232020;
    --foreground: #f1f7ed;
    --title_text: #f1f7ed;
    --title: #393737;
    --buttons: #393737;
  }
}

@layer utilities {
  .bord {
    border-right: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-lineHeightExpand {
    animation: lineHeightExpand 800ms ease-in-out forwards;
  }

  .slowly {
    animation: slowly 1200ms ease-in-out 500ms forwards;
  }

  .slowly-delayed {
    animation: slowly 1200ms ease-in-out 1200ms forwards;
  }

  .title {
    background-color: var(--title);
    color: var(--title_text);
  }

  .sidebar {
    background-color: var(--background);
  }

  .flashy {
    animation: slowly 1500ms ease-in-out alternate infinite;
  }

  .smoothing {
    background-color: var(--buttons);
  }

  .smoothing:hover {
    animation: bgTransition 300ms ease-in forwards;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

nav {
  background: var(--background);
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  @keyframes lineHeightExpand {
    from {
      line-height: 2rem;
      opacity: 0;
    }
    to {
      line-height: 4.5rem;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  @keyframes lineHeightExpand {
    from {
      line-height: 1.5rem;
      opacity: 0;
    }
    to {
      line-height: 2.5rem;
      opacity: 1;
    }
  }
}

@keyframes slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgTransition {
  from {
    background-color: var(--buttons);
  }
  to {
    background-color: var(--background);
  }
}
