@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f7ed;
  --foreground: #171717;
  --highlight: #f9bc60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232020;
    --foreground: #f1f7ed;
    --highlight: #f9bc60;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  background: var(--highlight);
}
